<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support By Tehdrienne</title>
    <link rel="stylesheet" href="/stylesheets/aboutus.css" media="screen">
</head>

<body>
    <div class="banner">
        <div class="navbar">
         <a href="/"><img src = "images/Support_byTehdrienne_Logo.png"  class="logo"></a>
         <ul>
               <li><a href="/">Home</a></li>
               <li><a href="aboutus">About Us</a></li>
               <li><a href="contactus">Contact Us</a></li>
               <li><a href="signup">Sign Up</a></li>
               <li><a href="signin">Log In</a></li>


         </ul>
        </div>
    </div>

    <div class="content">
        <h1>About Us</h1>
        <p>We are an Web Application that serves UCI
            Students who are in need to talk to Professional Therapists.
             <br>We are a 24/7 Web Appplication that serves college students needs.</p>

    </div>
 </body>

 </html>
